@import "trapezium";

.trapezium-icon {
  transform: rotate(-180deg);
  font-size: 20px;
  color: var(--baseGrey);
}

.each-keypoint{
  padding: 50px 0;
}

.keypoint {
  padding-left: 20px;
  text-align: left;
}

.keypoint-title {
  height: fit-content;

  margin: 0 0 10px;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #606060;
}

.keypoint-description {
  /* width: 155px;
    height: 13px; */
  margin: 9px 0;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #aaaaaa;
}

.keypoint-details {
  margin: 20px 0 60px;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: justify;
  color: #7a7a7a;
}
