.all-profile {
    display: flex;
    justify-content: center;
    padding: 63px 0 53px;
  }
  
  .profile-section {
    padding: 0 100px;
  }
  
  .view-all-works {
    width: 100%;
    background-color: var(--baseGreen);
    color: var(--baseGrey);
    padding: 8px 15px;
    font-family: Raleway;
    font-size: 13px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    text-align: center;
    margin-bottom: 136px;
  }
  