

.trapezium {
    transform: rotate(180deg);
  
    background: var(--baseGreen);
    display: inline-block;
    height: 40px;
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
    width: 40px;
  }
  .trapezium:before {
    border-bottom: 10px solid var(--baseGreen);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: -10px;
    width: 0;
  }
  
  .trapeziumTwo{
      /* transform: rotate(180deg); */
    background: var(--baseBlack);
    display: inline-block;
    height: 40px;
    margin-left: 0px;
    margin-top: 15px;
    position: relative;
    width: 40px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
  }
  .trapeziumTwo:before {
      border-bottom: 10px solid var(--baseBlack);
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      content: "";
      height: 0;
      left: 0;
      position: absolute;
      top: -10px;
      width: 0;
    }