:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --baseGreen: #00a99d;
    --baseBlack: #383838;
    --baseGrey: #e4e4e4;
  
    --sectionPadding: 0 140px;
    --responsiveSectionPadding: 0 20px;
  }
  
  